html {
  --color-cyan-600: hsl(192deg 37% 48%);
  --color-cyan-300: hsl(192deg 90% 77%);
  --color-purple-600: hsl(268deg 34% 53%);
  --color-purple-300: hsl(268deg 100% 86%);
  --color-slate-900: hsl(240deg 21% 20%);
  --color-slate-600: hsl(240deg 10% 57%);
  --color-slate-300: hsl(240deg 18% 85%);
  --color-white: hsl(0deg 0% 98%);
}
